# tasks file for shiny-server
---
- include: install.yml
  tags:
    - configuration
    - shiny-server
    - shiny-server-install

- include: configure.yml
  tags:
    - configuration
    - shiny-server
    - shiny-server-configure

- name: start and enable service
  service:
    name: shiny-server
    state: "{{ service_default_state | default('started') }}"
    enabled: "{{ service_default_enabled | default(true) | bool }}"
  tags:
    - configuration
    - shiny-server
    - shiny-server-start-enable-service
